@charset "UTF-8";

/* 全体共通の設定 */
html {
    background-color: #eff9f5;
}

body {
    line-height: 1.75;
    font-size: 16px;
    color: #333;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

@media screen and (min-width: 768px) {
    body {
    font-size: 18px;
    }
}

.main {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* ヘッダー */

    header {
        /* レイアウト */
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        padding: 16px 24px;  /* 内側の余白 */
        /* テキストのレイアウト */
        align-items: center;
        justify-content: space-between; /*子要素の配置（スペースを均等に配置）*/
        /* 配色・文字の大きさなど */
        background-color: #75AABF;
        color: white;
    }

    .logo{
        display: flex;
        /* width: 100px;
        height: 50px; */
        font-weight: bold;
        font-size: 20px;
    }

    .headerNavi{
        /* レイアウト */
        display: flex;
        /* テキストのレイアウト */
        align-items: center;
        gap: 32px;
        /* 配色・文字の大きさなど */
        font-size: 16px;
        font-weight: bold;
    }

    .headerBottonList{
        /* レイアウト */
        display: flex;  /* 横並び */
    }

    .headerBotton{
        /* レイアウト */
        display: flex;
        /* padding: 6px 16px; */
        /* 配色・文字の大きさなど */
        border-radius: 6px;  /* 角丸 */
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: #75AABF;
    }


/* フッター */
    footer {
        /* レイアウト */
        float: bottom;
        /* 配色・文字の大きさなど */
        border-top: 1px solid #e5e7eb;
        font-size: 15px;
        color: #999;
        background-color: #fff;
    }


/* 中身 */
    body{
        /* レイアウト */
        /* テキストのレイアウト */
        text-align: center;
        /* 配色・文字の大きさなど */
        font-family: Arial, sans-serif;
    }

    form{
        /* レイアウト */
        display: flex;
        flex-direction: column;
        gap: 16px;
        /* テキストのレイアウト */
        align-items: center;
        /* 配色・文字の大きさなど */
        font-size: 16px;
    }